@import "src/assets/styles/_colors.scss";

.sidebar-container {
    background-color: $blue-main;
    height: 100%;

    .sidebar-header {
        align-items: center;
        background-color: $blue-main;
        display: flex;
        height: 50px;
        padding-left: 20px;
        
        .fa-arrow-alt-circle-left {
            font-size: 25px;
            color: white;
            cursor: pointer;
        }
    }

    ul.sidebar-body {
        margin: 0;
        padding: 0;
        list-style: none;

        .menu-item {
            align-items: center;
            background-color: $blue-main;
            border-right: 3px solid transparent;
            color: white;
            cursor: pointer;
            display: flex;
            height: 50px;
            justify-content: start;
            padding-left: 20px;
            transition: 0.25s background-color, 0.25s color;

            i, li {
                pointer-events: none;
            }

            i {
                margin-right: 25px;
            }

            &:hover {
                color: $pink-main;
                background-color: $pink-secondary;
            }
            &.active {
                border-right: 3px solid $pink-main;
            }
        }
    }
}