<div>
  <div> </div>

  <div>
    <h2> Notes: </h2>
    <a target="_blank"
      href="https://www.youtube.com/watch?v=c0oy0vQKEZE&utm_source=ESnextNews.com&utm_medium=Weekly+Newsletter&utm_campaign=2019-05-14">
      Source
    </a>
    <p>
      References to objects are estrongly held, as long you have a reference to an object, that Object won't be
      garbage-collected.

      WeakMap and WeakSet are the only way to weakly reference an object.

      Adding a object to a WeakMap or WeakSet doesn't prevent it being garbage-collected.

    </p>

    <br>

    <code>
    function getImage(name) "{{ '{' }}"
      <br>
      const image = performExpensiveOperation(name);
      <br>
      return image
      <br>
    "{{ '}' }}"
    </code>

    <p> To improve performance </p>

    <code>
    const cache = new Map();
    <br>
    function (name) "{{ '{' }}" 
      <br>
      if (cache.has(name)) return cacher.get(name);
      <br>
      const image = performExpensiveOperation(name);
      <br>
      cache.set(name, image);
      <br>
      return image
      <br>
    "{{ '}' }}" 
    </code>

    <p>
      Problem: maps hold on on their keys and values strongly, so the image name and data can never garbage collected.
      This steadily increases memory and causes memory leak.
    </p>

  </div>

</div>