@import "./../../../../assets/styles/colors";

.page-container {
    background-color: $pink-main;

    button {
        display: block;
        margin: 0 auto;
    }

    .count-number {
        margin: 0 auto;
        font-size: 40px;
        display: table;
    }
}