<div class="page-container">
    <div class="section-to-read">
        <h1> COMPOSE </h1>

        <p> Clousure handling </p>

        <p> Two or more functions and returns a function </p>

        <p> Basically, we’re just nesting functions inside each other so that when they’re called with a final value,
            the result explodes outwards through each layer.
        </p>
        <p>
            Since functions can only return a single value, all these functions will be assumed to be unary…except, and
            here’s a tricky bit, the very FIRST function (the deepest inside). It should be able to accept any number of
            arguments (i.e. it can be any arity, from nullary to variadic), even though it will still return a single
            result
            like all the rest of its fellows.
        </p>

        <p>
            () => () => result;
            Basically, that’s a cleaner version of this verbose mess:
            function(){{ '{' }}return function(){{ '{' }}return result;};}
        </p>


        <h3> Example one </h3>
        <pre><code [highlight]="composeCodeOne"></code></pre>

        <app-references [references]="references"></app-references>

    </div>
</div>