<div class="page-contaier">
    <div class="cardboard">
        <h1> Git </h1>
    </div>
    <div class="cardboard">
        <h2> Commands </h2>
    </div>
    <div class="cardboard">
        <h3> Squash commits </h3>
        <pre><code [highlight]="squashCommitsCode"></code></pre>
    </div>
    <div class="cardboard">
        <h3> Delete Local Branch </h3>
        <pre><code [highlight]="deleteBranchCode"></code></pre>
        <pre><code [highlight]="deleteBranchPushCode"></code></pre>
    </div>
</div>