<div class="pa-container">

  <h1 class="pa-container__title"> Choose a sprite </h1>
  <div class="sprite-btns-container">
    <button [appLoading]="onClick.bind(this, 'male')" type="button" class="btn btn-info" [class.active]="'male' === activeSprite"> male </button>
    <div *ngFor="let btn of buttons">
      <button type="button" class="btn btn-info" [class.active]="btn.isActive" (click)="onSpriteClick(btn.label)">
        {{ btn.label }}
      </button>
    </div>
  </div>

  <br>
  <br>

  <h1 class="pa-container__title"> Choose a mod </h1>
  <div class="mode-btns-container">
    <button type="button" class="btn btn-info" [disabled]="isModDisabled" [class.active]="'happy' === activeMod"
      (click)="onModClick('happy', true)"> happy </button>
    <button type="button" class="btn btn-info" [disabled]="isModDisabled" [class.active]="'sad' === activeMod"
      (click)="onModClick('sad', true)"> sad </button>
    <button type="button" class="btn btn-info" [disabled]="isModDisabled" [class.active]="'surprised' === activeMod"
      (click)="onModClick('surprised', true)"> surprised </button>
  </div>

  <br>
  <br>

  <h1 class="pa-container__title"> Avatar </h1>
  <img *ngIf="imageToShow" class="pa-container__image" [src]="imageToShow">

</div>
