.app-body {
    display: flex;
    height: 100%;

    .sidebar-comp-container {
        width: auto;
    }
    
    .router-outlet-container {
        width: 100%;
        background-color: #F3F3F3;
    }
}