.app-body {
    display: flex;
    height: 100%;

    .sidebar-comp-container {
        width: 20%;
    }

    .router-outlet-container {
        width: 100%;
        background-color: #c0c0c0;
        padding: 16px;
    }
}
