<div class="container">
    <div class="card">
        <h1 class="card-title"> forkjoin </h1>
        <button type="button" class="btn btn-info" (click)="getJokes()">Call 4 enpoints </button>
    </div>
    <div class="card">
        <p class="text-info"> {{ joke1 }}</p>
    </div>
    <div class="card">
        <p class="text-info"> {{ joke2 }}</p>
    </div>
    <div class="card">
        <p class="text-info"> {{ joke3 }}</p>
    </div>
    <div class="card">
        <p class="text-info"> {{ joke4 }}</p>
    </div>
</div>