.rxjs-component-container {
    padding-top: 50px;

    .subject-container {
        box-shadow: 2px 3px 10px 1px #dadada;
        margin: 0 auto;
        text-align: center;
        width: 60%;
        padding: 50px 0 0 0x;

        .card-header {
            border: none;
            background: #206098;
            padding: 0;

            h1 {
                color: white;
                font-weight: bold;
                display: inline-block;
                padding: 20px;
                font-size: 35px;
                width: 85%;
                margin: 0;
            }

            .subject-description {
                background-color: white;
                p {

                    padding: 10px 35px;
                    text-align: justify;
                }
            }
        }

        .card-body {
            padding: 0;
            h1 {
                color: #206098;
                margin: 0;
            }
            .subject-video {
                background-color: black;
            }
        }
    }

}