@import "../../../assets/styles/colors";

.rxjs-menu-cotainer {
    display: flex;
    padding: 25px;

    .rxjs-item {
        align-items: center;
        background-color: #6c757d;
        border: 5px solid transparent;
        color: white;
        cursor: pointer; 
        display: flex;
        font-size: 12px;
        font-weight: 600;
        height: 100px;
        justify-content: center;
        transition: all 0.35s;
        width: 100px;

        &:hover {
            border: 50px solid $pink-main;
        }
    }

    .label-overlaped {
        color: white;
        font-size: 12px;
        font-weight: 600;
        left: -75px;
        opacity: 0;
        position: relative;
        top: 40px;
        pointer-events: none;
    }
}