<div class="rxjs-component-container">

  <div class="subject-container">
    <!-- CARD HEADER -->
    <div class="card-header">

      <h1> These ARE the Angular tips you are looking for | John Papa </h1>

      <div class="subject-description">

        <i class="fas fa-comments"></i>

        <p>
          . . .
          You’ll see how to guard your components and routes from Stormtrooper forces. Identify and defeat bugs through
          debugging your app using the Jedi force (and VS Code). You’ll learn how to host your app in the Cloud City of
          Bespin (cloud storage), rebel against servers and shift your APIs to serverless, and help R2D2 monitor your
          app’s activity. You’ll discover the power of Angular APIs, tooling, and the cloud ARE the tips you have been
          looking for.
          . . .
        </p>
      </div>

    </div>

    <!-- CARD BODY -->
    <div class="card-body">

      <div class="subject-video">
        <h1> Video </h1>
        <iframe width="100%" height="500px" src="https://www.youtube.com/embed/2ZFgcTOcnUg" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
      </div>

      <div class="subject-dev">
        <h1> Development </h1>

      </div>

    </div>
  </div>

</div>