/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100vh;
    width: 100vw;
}

* {
    font-family: 'Dosis', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


.cardboard {
    background: white;
    width: 50%;
    padding: 10px;
    box-shadow: 4px 3px 8px 0px #d0d0d0e0;
}